<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SportsApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB7042DA2A20D230000D6E78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB7042F32A20D233000D6E78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB7042FD2A20D233000D6E78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
